@import "src/Variables";

.addNotification {
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: #f6eee5;
  width: 250px;
  height: 50px;

  @include desktop {
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #f6eee5;
    width: 220px;
    height: 50px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

  .notification-text {
    font-size: 14px;
    font-weight: bold;
  }

  //.notification-button {
  //  background-color: white;
  //  border: 1px solid darkgray;
  //  padding: 5px 18px;
  //  border-radius: 15px;
  //  color: black;
  //  cursor: pointer;
  //  font-weight: bold;
  //
  //  &:hover {
  //    border-color: $color;
  //    color: $color;
  //  }
  //}
}
